include header.html

#x.container
  #x.hero-unit
    p
      | This app runs on #{hostname} (#{os}). Your request came from #{agent}.
      | The system time is #{time.toLocaleString()}.
      |  <strong>Page rendered using MISHRA Node.js version #{nodeversion}</strong>.



#x.container
  #x.hero-unit
    p
      | Contact site admin via: <a href="mailto:#{admin}">#{admin}</a>

include footer.html
